.logo-web {
  color: #2196f3;
}
.site-navigation {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: calc(16 / 14);
  color: #212121;
}
